
<div style="background-color: #19222D; color: white; margin: 0px;">
    <div class="row g-0">
        <div class="col my-5" style="border-right: solid 1px white;">
            <h2 class="my-5"><strong>Collaborative Music</strong></h2>
            <p>120 S Ephraim Utah</p>
        </div>
        <div class="col my-5">
            <p><a href="#">Link 1</a></p>
            <p><a href="#">Link 1</a></p>
            <p><a href="#">Link 1</a></p>
        </div>
    </div>
</div>

@code {

}
