<div id="footer">
    <div class="row g-0">
        <div class="name col my-5" style="border-right: solid 1px white;">
            <h2 class="name2"><strong>Collaborative <br/>Music</strong></h2>
        </div>
        <div class="address col my-5">
            <p>54 N Main St<br />Ephraim, Utah<br />84337<br />(435) 111-1234</p>
        </div>
    </div>
</div>



@code {

}
