@inherits LayoutComponentBase

<PageTitle>MusicBlazorApp</PageTitle>

<div class="page">

    <main>
        <div class="nav_home">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Collaborative<br />Music</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#">Purchase or Rent Equipment</a>
                            <a class="nav-link" href="#">Rent a Recording Studio</a>
                            <a class="nav-link" href="#">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
