@page "/cart"
@using MusicApi.Data;
@using MusicBlazorApp.State;
@using MusicApi.Dtos;
@inject CartState cartState
@inject AuthenticationStateProvider auth;

<h3>Cart</h3>

@if(cartState.SelectedItems is not null)
{
    @if(cartState.SelectedItems.Count == 0)
    {
        <p>No Items</p>
@*         <img src="https://i.imgflip.com/6cvg21.jpg" />
 *@    }
    else
    {
        @foreach (var itemResult in cartState.SelectedItems)
        {
            <div><img src="@Path.Combine("css", "images", "itemImages", $"{itemResult.Item.PrimaryImagePath}")"></div>
            <p>@itemResult.Item.ItemName</p>
            <p>@itemResult.Quantity</p>
        }    
    }
}





@code {


    protected override async Task OnInitializedAsync()
    {
        var authstate = await auth.GetAuthenticationStateAsync();
        var user = authstate.User;
        var name = user.Identity.Name;

        if(name is null)
        {
            name = "";
        }
        //TODO: CHANGE THIS TO BE THE USERS EMAIL 
        await cartState.RefreshCart(name);
        //var Items = cartState.SelectedItems;
        //ItemResults = Items;
    }

}

