.hero-bar {
    background-color: #19222D;
    color: white;
    margin: 100px 0px 100px 0px;
    height: 400px;
}

.guitar-image {
    position: absolute;
    height: 630px;
    top: 221px;
    left: 23vw;
}


.rnt-room-btn {
    color: white;
    text-decoration: none;
    padding-top: 3px;
}
    .rnt-room-btn:hover {
        color: white;
    }

    .items-showcase {
        margin-top: 292px;
    }

.button-section {
    margin-top: 150px;
}

.service-tag {
    margin-top: 25px;
    margin-bottom: 25px;
}

.service-links-wrapper {
    margin-bottom: 125px;
    display: flex;
    flex-wrap: wrap;
}

.links {
    text-decoration: none;
    color: black
}

.service-links {
    background-color: lightgrey;
    width: 270px;
    height: 325px;
    transition: background-color .5s;
    position: relative;
    display: inline-block;
}

    .service-links:hover {
        background-color: black;
        color: white;
    }

.service-links-name {
    color: inherit; /* Inherit text color from the parent */
    text-decoration: none; /* Remove underline from the link */
}

    .service-links-name:hover {
        color: white;
    }

.ikons {
    font-size: 100px;
    color: inherit; /* Inherit text color from the parent */
}

.rent-bar {
    background-color: #5B0D13;
    color: white;
    margin: 0px;
    margin-bottom: 100px;
}

.how-to-rent {
    padding-top: 50px;
}

.how-to-rent-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.rent-descriptions {
    width: 270px;
    height: 325px;
}

.rent-descriptions-name {
    color: white;
    text-decoration: none;
}

.location-descriptions {
}

.map {
    width: 325px;
    height: 325px;
}

.location-title {
    font-weight: 900;
    text-decoration: none;
    color: black;
    margin-right: 175px;
}


.card-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping */
    max-width: 100%; /* Limit width to parent container */
}


.card {
    /* Your existing card styles */
    transform: scale3d(0);
    transition: transform .5s;
}

    .card:hover {
        transform: scale3d(1.05, 1.05, 2);
    }

.container {
    padding: 100px 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.image-stack::after {
    content: ' ';
    display: table;
    clear: both;
}

.image-stack__item--top {
    float: left;
    width: 75%;
}

.image-stack__item--bottom {
    float: right;
    width: 66%;
    margin-left: -100%;
    padding-top: 15%;
    // arbitrary position: relative;
    z-index: 1;
}

@media screen and (min-width: 769px) {
    .guitar-image {
        position: absolute;
        height: 750px;
        top: 100px;
        left: 23vw;
    }
}

@media (max-width: 1896px) {
    .container {
        display: none;
        visibility: hidden;
    }

    .decript {
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
    }

}



