@page "/"

<PageTitle>Home</PageTitle>

<div class="home_nav">
</div>

<div class="row align-items-center" style="background-color: black; color: white;">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <img class="img-fluid img h-100" src="HomeScreenGuitar.png" />
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column align-items-lg-center">
            <h1>Collaborative Music</h1>
            <h3>The one-stop music shop</h3>
        </div>
    </div>
    <div class="col-md-3"></div>

    <div class="mx-5">
        <div class="row">
            <div class="col-md-3" style="background-color: lightgrey;"><h2><a>Purchase Instruments</a></h2></div>
            <div class="col-md-3"><h2>Rent Instruments</h2></div>

            <div class="col-md-3"><h2>Rent a Studio Room</h2></div>

        </div>


    </div>

</div>