.hero-bar {
    background-color: #19222D;
    color: white;
    margin: 100px 0px 100px 0px;
    height: 400px;
}

.guitar-image {
    position: absolute;
    height: 600px;
    top: 100px;
    left: 30vw;
}

.button-section {
    margin-top: 150px;
}

.service-tag {
    margin-top: 25px;
    margin-bottom: 25px;
}

.service-links-wrapper {
    margin-bottom: 125px;
    display: flex;
    flex-wrap: wrap;
}


.service-links {
    background-color: lightgrey;
    width: 270px;
    height: 325px;
    transition: background-color .5s;
    position: relative;
    display: inline-block;
}

.service-links:hover {
    background-color: black;
    color: white;
}

.service-links-name {
    color: inherit; /* Inherit text color from the parent */
    text-decoration: none; /* Remove underline from the link */
}

.service-links-name:hover{
    color:white;
}

.ikons {
    font-size: 100px;
    color: inherit; /* Inherit text color from the parent */
}

.rent-bar {
    background-color: #5B0D13;
    color: white;
    margin: 0px;
    margin-bottom: 100px;
}

.how-to-rent {
    padding-top: 50px;
}

.how-to-rent-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.rent-descriptions {
    width: 270px;
    height: 325px;
}

.rent-descriptions-name {
    color: white;
    text-decoration: none;
}

.location-descriptions {
}

.map {
    width: 325px;
    height: 325px;
}

.location-title {
    font-weight: 900;
    text-decoration: none;
    color: black;
    margin-right: 175px;
}
