.main-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 15%;
}

.review-tile {
    background-color: #F2F2F2;
}

.red-button {
    background-color: #5B0D13;
    color: white;
    border-radius: 25px;
    height: 50px;
    text-align: center;
    transition: background-color .2s;
}

.red-button:hover {
    background-color: #6F1218;
}

.red-button * {
    color: white;
    text-decoration: none;
    padding-top: 12px;
}

.button {
    border-style:dashed;
    border-color:black;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
}


.button:focus {
    border-style: solid;
    /* Add other styles as needed */
}

.dropdown {
    border-style: dashed;
    border-color: black;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

